.animate-marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.box{
    transition: all 0.2s;
}

.rotate-temp:nth-child(even){
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.rotate-temp:nth-child(odd){
  transform: rotateZ(-20deg);
  transform: scale(1.2);
  transition: all 0.2s linear;
}

section div li{
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 10px;
}

@import "tailwindcss";