:root {
  --white-black-diagonal: linear-gradient(45deg, white 50%, black 50%);
  --bg-red:red;
}


.animate-marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.box{
    transition: all 0.2s;
}

.rotate-temp:nth-child(even){
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.rotate-temp:nth-child(odd){
  transform: rotateZ(-20deg);
  transform: scale(1.2);
  transition: all 0.2s linear;
}

section div li{
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 10px;
}

.remove-popup{
  position:absolute;
  top: 100px;
  animation-name: sidePopup;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.notify-loading::after{
  content: " ";
  background-color: red;
  width: 0px;
  height:10px;
  position: absolute;
  animation: notify-load;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes notify-load {
  to{
    width: 100%;
  }
}

@keyframes sidePopup {
  from{
    transform: translateX(-100px);
    opacity: 0.2;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@import "tailwindcss";